{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="row" style="display: flex">
        <div class="column" style="flex: 25%">
            <table class="table">
                <h2>Your teams</h2>
                <tbody>
                    {% for row in teamnames %}
                    <tr>
                        <td><button><a class="nav-link" href="/team/{{ row['teamname'] }}">{{ row['teamname'] }}</a></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column" style="flex: 50%">
            <table class="table">
                <h2>Your League Memberships</h2>
                <thead>
                    <tr>
                        <th>League</th>
                        <th>Team Name</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for row in leaguedict %}
                    <tr>
                        <td><button><a class="nav-link" href="/league/{{ row['leaguename'] }}">{{ row['leaguename'] }}</a></button></td>
                        <td><button><a class="nav-link" href="/team/{{ row['teamname'] }}">{{ row['teamname'] }}</a></button></td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}