{% extends "layout.html" %}

{% block title %}
    Join League
{% endblock %}

{% block main %}
    <form action="/joinleague" method="POST">
        <div class="mb-3">
            <label for="leaguename">League Name (case sensitive)</label>
            <input type="text" id="leaguename" class="form-control mx-auto w-auto" name="leaguename" required>
            <label for="code">Passcode (if you want)</label>
            <input type="text" id="code" class="form-control mx-auto w-auto" name="code">
            <br>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}