{% extends "layout.html" %}

{% block title %}
    {{ lleaguename }}
{% endblock %}

{% block main %}
    <h2>{{ lleaguename }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for row in leaguelist %}
            <tr>
                <td>{{ row['teamname'] }}</td>
                <td>{{ row['username'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}