{% extends "layout.html" %}

{% block title %}
    {{ lleaguename }}
{% endblock %}

{% block main %}
    <h2>{{ lleaguename }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Team</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
            {% for row in leaguelist %}
            <tr>
                <td><button><a class="nav-link" href="/team/{{ row['teamname'] }}">{{ row['teamname'] }}</a></button></td>
                <td><button><a class="nav-link" href="/user/{{ row['username'] }}">{{ row['username'] }}</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}