{% extends "layout.html" %}

{% block title %}
    {{ lleaguename }}
{% endblock %}

{% block main %}
<h2>{{ lleaguename }}</h2>
<div class="row">
    <div class="col">
        <h3>This weeks categories:</h3>
        <table class="table">
            <thead>{{ weekname }}</thead>
            <tbody>
                {% for row in thisweekscats %}
                <tr>
                    <td>{{ row['catname'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    <h3>This weeks matchups:</h3>
    <p>("None" team indicates bye week)</p>
    <table class="table">
        <tbody>
            {% for row in matchups %}
            <tr>
                <td><button><a class="nav-link" href="/team/{{ row['home'] }}">{{ row['home'] }}</a></button></td>
                <td>vs.</td>
                <td><button><a class="nav-link" href="/team/{{ row['away'] }}">{{ row['away'] }}</a></button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>All of your matchups</h3>

        <table class="table">
            <tbody>
                {% for row in usermatchups %}
                <tr>
                    <td>Week {{ row['week'] }}</td>
                    <td><td><button><a class="nav-link" href="/team/{{ row['opponent'] }}">{{ row['opponent'] }}</a></button></td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h3>Last Weeks Results</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Winner</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td><button><a class="nav-link" href="/team/{{ row['hometeamname'] }}">{{ row['hometeamname'] }}</a></button></td>
                    <td><button><a class="nav-link" href="/team/{{ row['awayteamname'] }}">{{ row['awayteamname'] }}</a></button></td>
                    <td><button><a class="nav-link" href="/team/{{ row['winnername'] }}">{{ row['winnername'] }}</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h3>Overall Records</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Owner</th>
                    <th>Wins</th>
                    <th>Losses</th>
                </tr>
            </thead>
            <tbody>
                {% for row in results %}
                <tr>
                    <td><button><a class="nav-link" href="/team/{{ row['teamname'] }}">{{ row['teamname'] }}</a></button></td>
                    <td><button><a class="nav-link" href="/user/{{ row['owner'] }}">{{ row['owner'] }}</a></button></td>
                    <td>{{ row['wincount'] }}</td>
                    <td>{{ row['losscount'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4> All teams in league </h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                {% for row in leaguelist %}
                <tr>
                    <td><button><a class="nav-link" href="/team/{{ row['teamname'] }}">{{ row['teamname'] }}</a></button></td>
                    <td><button><a class="nav-link" href="/user/{{ row['username'] }}">{{ row['username'] }}</a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>  
</div>
{% endblock %}